# Múi giờ
GENERIC_TIMEZONE=Asia/Ho_Chi_Minh

# Cấu hình Port mapping cho host (nếu muốn truy cập qua ip_vps:7100)
N8N_PORT=7100

# Cấu hình Domain (Cho Nginx & SSL)
DOMAIN_NAME=vincode.xyz
SUBDOMAIN=n8n

# Email nhận thông báo gia hạn SSL từ Let's Encrypt
SSL_EMAIL=admin@vincode.xyz
